*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	color: #333;
	font-family: "open sans",helvetica,sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	word-wrap: break-word;
	font-weight: 300;
}

.container{
	width: 100%;
}

#content{
	width: 100%;
}


section{
	min-height: 300px;
	h1{
		float: right;
	}
}


@media only screen and (max-width: 1200px) and (min-width: 1025px){
	
}