#menu{
	color: #fff;
	figure{
		margin: 0;
		padding: 0 30px 20px 30px;
		img{
			margin-bottom: 15px;
			width: 100%;
		}
		figcaption{
			font-size: 140%;
			height: auto;
			letter-spacing: 5px;
			line-height: 1.45;
		}
	}
}