<!-- <div class="logo">
	<figure>
		<img src="https://media.licdn.com/mpr/mprx/0_P3X546OiDqJAZI6u9-Hw4btfeNelxs6ucrsHOba38Td-ZUNGvA5WyTmAbkZ" alt="Web development"/>
		<figcaption>Web development</figcaption>
	</figure>
</div> -->

<div class="hamburger">
	<a href="#"><i class="fa fa-navicon"></i></a>
</div>
<ul>
	<li><a data-href="summary" href="#summary">Summary</a></li>
	<li><a data-href="experience" href="#experience">Experience</a></li>
	<li><a data-href="motto" href="#motto">My Motto</a></li>
	<li><a data-href="skills" href="#skills">Skills</a></li>
	<li><a data-href="education" href="#education">Education</a></li>
</ul>
